@media(max-device-width: 600px) 
{
 #zlink{
  
   font-size: 12px;
 }
#tech{
  height:350px;
}
.more
{
  position: absolute;
}
}
@media(max-device-width: 500px) 
{
  #zlink{
  
    font-size: 10px; 
}